@font-face {
    font-family:'mainFont' ;
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
    font-weight: 400 600 700;
}
:root{
    --white:hsl(0, 0%, 100%);
    --light-pink:hsl(275, 100%, 97%);
    --grayish-purple:hsl(292, 16%, 49%);
    --dark-purple:hsl(292, 42%, 14%);
    --purple:#b224f2;
    --font-size:16px;
}
*,*::after,*::before{
    box-sizing: border-box;
    transition: all 0.6s ease-in-out;
}
/*==============start styling===============*/
body{
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--light-pink);
    font-family: 'mainFont';
    background-position: top; 
}
.container{
    width: 34rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    padding-top: 3rem;
    padding-inline: 2.2rem;
    padding-bottom: 1rem;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    gap: 1rem;
    color: var(--dark-purple);
}
.QA,.border-bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.question h2{
    color: var(--dark-purple);
    font-weight: 600;
}
.question h2:hover{
    color: var(--purple);
    cursor: pointer;
}
#show{
    background: url(./assets/images/icon-plus.svg);
    background-size: cover;
    border: 0;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
#show:hover {
    filter: brightness(0.1); 
}
.answer{
    font-size: var(--font-size);
    color: var(--grayish-purple);
    line-height: 1.5;
    display: none;   
}
.border-bottom{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--light-pink);  
}
.border-bottom:last-of-type{
    border-bottom: 0;
}
@media screen and (max-width:530px) {
    .body{
        background-image: url(./design/mobile-design.jpg);
    }
    .container{
        width: unset;
        flex: 0.7;
    }
}